/* Estilo para o container principal */
.loginContainer {
    background-color: whitesmoke;
    min-height: 100vh; /* Para garantir que ocupe a tela toda */
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Estilo para o formulário */
.loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 40px;
    padding-top: 15px;
    background: white;
    border-radius: 28px;
}

/* Estilo para o título */
.loginTitle {
    text-align: center;
}

/* Estilo para os campos de input */
.loginInput {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

/* Estilo para o botão */
.loginButton {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo para a mensagem de erro */
.errorMessage {
    color: red;
    text-align: center;
}